<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>epsilon text analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='wordCluster.css') }}">
  </head>
<body>



<div id="DIV_1">
	<h2 id="H2_2">
		<span id="SPAN_3">Sign up for an account</span>
	</h2>
	<form id="FORM_4" name="register-form" action="/postregister" method="post">
		<input type="hidden" name="_token" value="6WLiOj3Did7QAnZ8J9kCiH8wkd4gUQxwg0nkxnax" id="INPUT_5" />
		<div id="DIV_6">
			 
			<label for="register-form-name" id="LABEL_7">
				Page Name
			</label>
			<input type="text" id="INPUT_8" name="register-form-name" />
		</div>
		<div id="DIV_9">
			 
			<label for="register-form-email" id="LABEL_10">
				Search Word
			</label>
			<input type="text" id="INPUT_11" name="register-form-email" />
		</div>
		<div id="DIV_15">
			 
			<button id="BUTTON_16" name="register-form-submit" value="register">
				Create Word Cluster Diagram
			</button>

			<button id="BUTTON_16" name="register-form-submit" value="register">
				Search Word 
			</button>
			
		</div>
	</form>
	<!--<div style="min-height:200px;"><h3>Thank you</h3></div>-->

	<!-- THANK YOU MESSAGE -->

</div>



  <script src="/wordCluster.js"></script>
</body>
</html>
